*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
    width: 150px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 7%;
    text-align: center;
    border-radius: 25%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}


div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    font-size: 10px;
    text-align: right;
}

.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

i {
    display: inline-block;
}

article:hover i {
    transform: rotate(90deg);
}

.create-form {
    padding: 20px 15px;
}

.control-formulario {
    margin-bottom: 15px;
}

.control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
}

.boton-formulario {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.datos {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fecha {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    display: block;
    margin-top: 10px;
}

.domicilio {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

.perfiles {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intereses {
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.boton {
    background-color: khaki;
    border: none;
    font-size: 10px;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.log-in {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.enviar-login {
    width: 80%;
    background-color: #0044AA;
    border: none;
    font-size: 10px;
    text-align: center;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

@media (max-width: 768px){
    .main-navbar {
        display: none;
    }
}

@media (min-width: 769px){
    header div.top-header{
        display: flex;
        justify-content: space-between;
    }

.copy-header {
    max-width: 180px;
    text-align: right;
}

.burger-menu {
    display: none;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.main-navbar ul {
    display: flex;
}

.main-navbar li {
    margin: 0 5px;
}
}

